version: "3.4"

services:
  php:
    container_name: discopoll
    image: thecodingmachine/php:8.0-v4-cli
#    build: .
#    restart: unless-stopped
    volumes:
      - ./:/usr/src/app:rw,cached
    environment:
      BOT_TOKEN: ${BOT_TOKEN:-}
      PHP_EXTENSION_GMP: 1
      PHP_EXTENSION_INTL: 1
      PHP_EXTENSION_EVENT: 1
      PHP_INI_ERROR_REPORTING: E_ALL
      STARTUP_COMMAND_1: composer install
      STARTUP_COMMAND_2: php /usr/src/app/bot/index.php
